
/*SECTION-COUPON----------------------------------------------------------------------------------------------*/
#section-coupon {
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 10rem; /*Für Abstand von Content zure Oberkante*/
    padding-bottom: 4rem;
    text-align: center;
}

#section-coupon__content__h1 {
    color: #008585;
    font-weight: 700;
    font-size: 4rem;
    margin: 0 auto 2vw auto;
    max-width: 1400px;
    padding: 0 100px 0 100px;
}

#section-coupon__content__p {
    color: #008585;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0 auto 2vw auto;
    max-width: 1400px;
    padding: 0 100px 0 100px;
}

.products__product {
    display: inline-block;
    margin: 0 1rem;
}

.products__product img {
    width: 45rem;
    display: block;
}

.products__caption {
    background-color: #fff;
    padding: 1rem 0;
} 

.products__product p {
    font-size: 1.5rem;
    color: #5A666B;
}

.products__product p :first-child {
    font-weight: 700;
}





@media (max-width: 1920px) {
    #section-coupon__content__h1 {
        font-size: 3rem;
    }

    .products__product img {
        width: 35rem;
    }
}

@media (max-width: 1500px) {
    #section-coupon {
        padding-top: 8rem;
        
    }

    #section-coupon__content__h1 {
        font-size: 2.5rem;
        margin: 0 auto 3.8vw auto;
    }

    .products__product img {
        width: 28rem;
    }

    .products__product p {
        font-size: 1.25rem;
        color: #5A666B;
    }
}

@media (max-width: 660px) {
    #section-coupon {
        height: auto;
        padding-top: 6.5rem;
        padding-bottom: 0;
    }

    #section-coupon__content__h1 {
        font-size: 2rem;
        margin: 0 4rem 3rem 4rem;
        padding: 0;
    }

    .products__product {
        display: inline-block;
        margin: 0; /*????*/
    }

    .products__product img {
        width: 100%;
        display: block;
    }
}


/*SECTION-FUNCTION----------------------------------------------------------------------------------------------*/
#section-function {
    text-align: center;
    color: #fff;
    background-color: #008585;
    padding: 8rem 0 9.5rem 0;
}

#section-function__content__h1 {
    font-weight: 700;
    font-size: 3rem;
    margin: 0 15% 6rem 15%;
}

#functions {
    display: flex;
    justify-content: center;
}

.function {
    display: inline-block;
    width: 15rem;
    vertical-align: middle;
}

.function :nth-child(2) {
    font-weight: 700;
}

.function img {
    width: 6rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.functions-seperator {
    display: inline-block;
    width: 1px;
    height: 6rem;
    background-color: #fff;
    vertical-align: middle;
    margin: 0 1rem;
}

.functions-seperator--mobile {
    display: none;
}

@media (max-width: 1050px) {
    #section-function {
        padding: 6.5rem 0 5.5rem 0;
    }

    #section-function__content__h1 {
        font-size: 2rem;
        margin: 0 4rem 3rem 4rem;
    }
    #functions {
        flex-direction: column;
        align-items: center;
    }

    .functions-seperator {
        display: none;
    }

    .function {
        display: inline-block;
        border-bottom: 1px solid #fff;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }

    #functions :last-child {
        border-bottom: none;
    }

}

/*SECTION-ABOUT----------------------------------------------------------------------------------------------*/
#section-about {
    padding: 8rem 10rem 9.5rem 10rem;
}

.section-about__wrapper {
    display: table;
    max-width: 1000px;
    margin: auto;
}

#section-about__content {
    display: table-row;
}

#section-about__content--left {
    text-align: right;
    display: table-cell;
    vertical-align: top;
}

#section-about__content--left img {
    width: 15rem;
}

#section-about__content--right {
    display: table-cell;
    vertical-align: top;
    padding-left: 3rem;
}

#section-about__content--right p {
    font-size: 1.25rem;
    font-weight: 700;
    color: #5A666B;
}

#section-about__content--right a {
    font-size: 1.25rem;
    font-weight: 700;
    color: #008585;
    margin-top: 1rem;
    padding: .65rem 2rem;
    border: 1px solid #008585;
    display: inline-block;
}

@media (max-width: 1000px) {

    .section-about__wrapper {
        display: block;
    }
    #section-about__content {
        display: block;
    }
    #section-about__content--left {
        text-align: left;
        display: block;
        margin-bottom: 2rem;

    }
    #section-about__content--right {
        display: block;
        padding: 0;
    }
}

@media (max-width: 800px) {
    #section-about {
        padding: 5rem 2rem 5.5rem 2rem;
    }
}