.section-redeem {
    padding: 8rem 10rem 9.5rem 10rem;
}

.section-redeem > h1 {
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    color: #008585;
    margin: 0 auto 2vw auto;
    max-width: 1400px;
    padding: 0 100px 0 100px;
}

.section-redeem__content {
    display: flex;
}

#section-redeem__content__p {
    display: block;
    color: #008585;
    font-weight: 400;
    font-size: 1rem;
    margin: 1rem auto 0 auto;
    max-width: 1400px;
    padding: 0 1rem 0 1rem;
    text-align: center;
}

.section-redeem__content__left {
    display: inline-block; /*fallback*/
    width: 50%;
    margin-right: 1.5rem;
}

.section-redeem__content__left img {
    width: 100%;
}

.section-redeem__content__left p {
    font-size: 1.5rem;
    font-weight: 700;
    color: #5A666B;
}

.section-redeem a {
    font-size: 2rem;
    color: #008585;
    display: block;
    margin: 2rem 0 2rem 0;
}

#ArrowLeft {
    width: 1.5rem;
}

.section-redeem__content__right {
    display: inline-block; /*fallback*/
    vertical-align: top; /*fallback*/
    width: 50%;
    margin-left: 1.5rem;
    /*height: 750px;*/ /*Hier wird die Höhe des iframe angepasst.*/
}

.section-redeem__content__right iframe {
    width: 100%;
    /*border: none;*/
}

#platzhalter {
    width: 100%;
}

@media (max-width: 1920px) {
    .section-redeem > h1 {
        font-size: 3rem;
    }

    .section-redeem a {
        font-size: 1.5rem;
    }

    #ArrowLeft {
        width: 1rem;
    }
}

@media (max-width: 1366px) {
    
    .section-redeem a {
        font-size: 1rem;
    }

    #ArrowLeft {
        width: 0.75rem;
    }

}

@media (max-width: 1000px) {
    .section-redeem__content {
        display: flex;
        flex-direction: column;
    }
    .section-redeem__content__left {
        width: 100%;
        margin: 0;
    }
    .section-redeem__content__right {
        width: 100%;
        margin: 0;
    }

    .section-redeem__content__left p {
        padding-top: 0.5rem;
        padding-bottom: 2rem;
    }
}

@media (max-width: 900px) {
    #section-redeem__content__p {
        font-size: 0.75rem;
    }
    
    .section-redeem > h1 {
        font-size: 2rem;
    }
}

@media (max-width: 800px) {
    .section-redeem {
        padding: 5rem 0 0 0;
    }

    .section-redeem a { 
        margin: 2rem 0 2rem 1rem;
    }

    .section-redeem__content__left p {
        text-align: center;
    }

}



@media (max-width: 400px) {
    #section-redeem__content__p {
        font-size: 0.5rem;
    }
    
    .section-redeem > h1 {
        font-size: 1rem;
    }

}
